:root {
    --header_color: rgb(45, 55, 80);
    --footer_color: rgb(45, 55, 80);
}

@font-face {
      font-family: 'OpenSans';
      src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

hr {
	height: 0;
	border-width: 0;
	border-top: .0625rem dotted #a0a0a0;
}

a {
	color: orangered; /* orange */
	text-decoration: none;
	cursor: pointer; /* even if no href */
}

a:hover,
a:active,
a:focus {
	color: yellowgreen;
}


ul,
ol {
	margin: 1rem 0;
	padding-inline-start: 1.5rem;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

ul ul {
	list-style-type: circle;
}

ul ul ul {
	list-style-type: square;
}

dl {
	margin: 1rem 0 1rem 2rem;
}

dt {
	margin: 1rem 0;
	font-weight: bold;
}

dd {
	margin: 1rem 0;
}


.html {
    background-color: rgb(50, 60, 90);
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.body {

    line-height: 1.3333;
    color: #eeeeee;
    flex-direction: column;
}

.responsive {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    padding: 2em;
}

/* smartphone */
@media (pointer:none), (pointer:coarse) {
    .responsive {
        width: 100%;
        height: auto;
    }
}

.copyright {
    text-align: center;
    display: block;
    margin: auto;
}

#header {
  background-color: red;
  display: grid;
  grid-template-columns: auto;
  background-color: var(--header_color);
  padding: 1em;
}

#fortune {
    width: 80%;
    margin: auto;
    padding: 1em;
    color: black;
    margin-bottom: 1em;
    border: .2em;
    border-style: solid;
    border-color: black;
    border-radius: .9em;
    background-color: rgb(244, 43, 255);
}

#footer {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--footer_color);
  padding: 1em;
}

.footer-element {
  padding: 1em;
  font-size: 1em;
  text-align: center;
}

